// Sample
sample = 'DP'
path_to_results = '/data/rce/ejean/results/14-20_DP_to_DU_coverage/'
params.fasta_ratio_input = '/kingdoms/rce/workspace6/Nanopore/20200220-run17/DP_basecall/*{.fa,.fa_ratio_B}'


params.output = path_to_results+'/coverage_'+sample+'.rds'
report.file = path_to_results+'/report_'+sample+'.html'