//Parameters definition
params {
    nb_reads_process = 3000      // Number of reads to process per job
    bin_size = 200
    brdu_thrs = 0.4
    min_read_length = 1000
}


// Processus configuration
process {
    clusterOptions = """
        nice_user = True
        concurrency_limits = ejean:25
        requirements = stringListMember(substr(Target.Machine,0,3), "bio")
        error = /data/rce/ejean/bioclust_out/cov.err
        output = /data/rce/ejean/bioclust_out/cov.out
        log = /data/rce/ejean/bioclust_out/cov.log
        """
    withName: Coverage {
        executor = 'condor'
        memory = '4G'
    }
    withName: Merge {
        executor = 'local'
    }
}
executor.queueSize = 500

// Reports and trace
report{
	enabled = true
}
